{% extends "layout.html" %}
{% block content %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{{ url_for('userdata', username=data.author.username)}}">{{ data.author.username }}</a>
              <small class="text-muted">{{ data.date_created.strftime('%Y-%m-%d') }}</small>
                 {% if data.author == current_user %}
                <div>
                    <a class="btn btn-secondary btn-sm m-1" href="{{ url_for('updatedata', data_id=data.id) }}">Edit</a>
                <button type="button" class="btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete data</button>
                </div>
                {% endif %}
            </div>
            <h2 class="article-title">{{ data.title }}</h2>
            <p class="article-content">{{ data.content }}</p>
          </div>
        </article>

        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete data?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                ...
              </div>
              <div class="modal-footer">

                <button type="button" class="btn btn-primary">Close</button>
                <form action="{{ url_for('deletedata', data_id=data.id)}}" method="POST">
                  <input class="btn btn-danger" type="submit" value="Delete">
                </form>
              </div>
            </div>
          </div>
        </div>
{% endblock content %}
