{% extends "layout.html" %}
{% block content %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ data.author.username }}</a>
              <small class="text-muted">{{ data.date_created.strftime('%Y-%m-%d') }}</small>
                 {% if data.author == current_user %}
                <div>
                    <a class="btn btn-secondary btn-sm m-1" href="{{ url_for('updatedata', data_id=data.id) }}">Edit</a>
                <button type="button" class="btn-danger btn-sm m-1">Delete data</button>
                </div>
                {% endif %}
            </div>
            <h2 class="article-title">{{ data.title }}</h2>
            <p class="article-content">{{ data.content }}</p>
          </div>
        </article>
{% endblock content %}
