{% extends "layout.html" %}
{% import 'formsinglerecordnavigation.html' as macros_single_nav %}
{% block content%}

<a class="btn btn-secondary btn-sm m-1" href="{{ url_for('forms.form_add', id=id) }}"> + Add new record</a>
          
    {% for f in form %}

                <article class="media content-section">
                    {{ macros_single_nav.render_single_row_nav(id, f[0]['id'], 'all', 'main_form') }}

                  <div class="media-body">
                       {% for field in f[1:] %}
                            <div class="form-group">
                                <label class="form-control-label">{{ field['label'] }}</label>
                                <input disabled type="text" class="form-control form-control-lg" value="{{ field['value'] }}">
                            </div>
                      {% endfor %}
                  </div>
                </article>
    {% endfor %}

{% endblock content%}