{% extends "layout.html" %}
{% block content%}
{% import 'formsinglerecordnavigation.html' as macros_single_nav %}
{% import 'meta_single_record_template.html' as render_metadata_template %}



    {% for f in form %}
        {{ macros_single_nav.render_single_row_nav(id, objectid, 'edit', 'main_form_data') }}
        {{ render_metadata_template.render_metadata(id, objectid,  meta[0].date_created.strftime('%Y-%m-%d'), meta[0].author.username) }}
                <article class="media content-section">
                  <div class="media-body">
                       {% for field in f %}
                            <div class="form-group">
                                <label class="form-control-label">{{ field['label'] }}</label>
                                <input disabled type="text" class="form-control form-control-lg" value="{{ field['value'] }}">
                            </div>
                      {% endfor %}
                  </div>
                </article>
    {% endfor %}

{% endblock content%}