{% extends "layout.html" %}
{% block content%}
{% import 'formsinglerecordnavigation.html' as macros_single_nav %}
{% import 'meta_single_record_template.html' as render_metadata_template %}


   {{ macros_single_nav.render_single_row_nav(id, objectid, 'view', 'main_form_data') }}
   {{ render_metadata_template.render_metadata(id, objectid,  meta.date_created.strftime('%Y-%m-%d'), meta.author.username) }}

   <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
             <fieldset class="form-group">
                <legend class="border-bottom mb-4">{{ legend }}</legend>
                 {% for field in form_config.fields %}
                     <div class="form-group">
                            {{ form[field.name].label(class="form-control-label") }}
                            {% if form[field.name].errors %}
                                {{ form[field.name](class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form[field.name].errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form[field.name](class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                {% endfor%}
             </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>

{% endblock content%}