{% extends "layout.html" %}
{% block content %}
   <div class="content-section">
        <div class="media-body">
          <h2 class="account-heading">Collect data you want!</h2>
            <p>Collector Pro is an advanced application designed to simplify and enhance the process of creating custom forms, collecting data, and generating insightful reports</p>
            <p>Ideal for businesses, educational institutions, non-profits, and any organization that relies on efficient data collection and analysis, Collector Pro offers a comprehensive suite of tools to meet and exceed your needs.</p>
            <p>Collector Pro makes data collection straightforward and efficient.</p>
            <p> Once your forms are created, you can distribute them through various channels</p>

            <a class="btn btn-secondary btn-sm m-1" href="{{ url_for('forms.form') }}">
See available forms</a>
            <a class="btn btn-secondary btn-sm m-1" href="{{ url_for('forms.new_form') }}">Create your own form</a>
        </div>
   </div>

{% endblock content %}
